{% extends "base.html.twig" %}

{% block MainContent %}

{{user.userName}}

	<main class="content">
				<div class="container-fluid p-0">

					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Profile</h1>
						<a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">
      Get more page examples
  </a>
					</div>
					<div class="row">
						<div class="col-md-4 col-xl-3">
							<div class="card mb-3">
								<div class="card-header">
									<h5 class="card-title mb-0">Profile Details</h5>
								</div>
								<div class="card-body text-center">
									<img src="{{profile.picture}}" alt="Christina Mason" class="img-fluid rounded-circle mb-2" width="128" height="128" />
												<form method="post" action="{{path("update_picture")}}" enctype="multipart/form-data">
										

										<div class="input-group justify-content-center" style="left:19%; bottom: 20px; ">
											<label class="input-group-text small camera-icon bg-transparent border-0 " for="file-input">
												<i class="fas fa-camera" style="color: #454040; font-size: 18px; cursor: pointer;"></i>
											</label>
											<input type="file" id="file-input" accept="image/*" name="picture" class="form-control d-none">
											<input id="upload-btn" type="submit" hidden>
										</div>
									</form>
									<script>
										const fileInput = document.getElementById('file-input');
										const uploadBtn = document.getElementById('upload-btn');

										fileInput.addEventListener('change', () => {
											// simulate a click on the upload button to trigger the form submission
											uploadBtn.click();
										});
									</script>
									<h5 class="card-title mb-0">{{profile.firstname}} {{profile.lastname}}</h5>
									<div class="text-muted mb-2">{{profile.address}}</div>
						

								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">Skills</h5>
									<a href="#" class="badge bg-primary me-1 my-1">HTML</a>
									<a href="#" class="badge bg-primary me-1 my-1">JavaScript</a>
									<a href="#" class="badge bg-primary me-1 my-1">Sass</a>
									<a href="#" class="badge bg-primary me-1 my-1">Angular</a>
									<a href="#" class="badge bg-primary me-1 my-1">Vue</a>
									<a href="#" class="badge bg-primary me-1 my-1">React</a>
									<a href="#" class="badge bg-primary me-1 my-1">Redux</a>
									<a href="#" class="badge bg-primary me-1 my-1">UI</a>
									<a href="#" class="badge bg-primary me-1 my-1">UX</a>
								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">About</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span> Lives in <a href="#">{{profile.location}}</a></li>

										<li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span> Works at <a href="#">UniversEducatif</a></li>
										<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> From <a href="#">{{profile.address}}</a></li>
									</ul>
								</div>
								<hr class="my-0" />
								<div class="card-body">
									<h5 class="h6 card-title">Elsewhere</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><a href="#">staciehall.co</a></li>
										<li class="mb-1"><a href="#">Twitter</a></li>
										<li class="mb-1"><a href="#">Facebook</a></li>
										<li class="mb-1"><a href="#">Instagram</a></li>
										<li class="mb-1"><a href="#">LinkedIn</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-8 col-xl-9">
							<div class="card">
								<div class="card-header">

									<h5 class="card-title mb-0">Activities</h5>
								</div>
								<div class="card-body h-100">
									{% for log in logs %}
								{% set timestamp = log.date|date("U") %}

									{% set diff = "now"|date("U") - timestamp %}


									{% if diff < 60 %}
										{% set time_diff = diff ~ " seconds ago" %}
									{% elseif (diff / 60) < 60 %}
										{% set diff = (diff / 60)|round %}
										{% set time_diff = diff ~ " minutes ago" %}
									{% elseif (diff / 3600) < 24 %}
										{% set diff = (diff / 3600)|round %}
										{% set time_diff = diff ~ " hours ago" %}
									{% else %}
										{% set diff = (diff / 86400)|round %}
										{% set time_diff = diff ~ " days ago" %}
									{% endif %}
										<div class="d-flex align-items-start">
										<img src="{{profile.picture}}" width="36" height="36" class="rounded-circle me-2" alt="">
										<div class="flex-grow-1">
											<small class="float-end text-navy">{{time_diff}}</small>
											<strong>{{profile.firstName}} </strong> {{log.description1}} <strong> {{log.action1}}</strong>{{log.description2}}<strong>{{log.action2}}</strong><br />
											<small class="text-muted">{{log.date|date('Y-m-d')}}</small><br />

										</div>
									</div>
									<hr />
									{% endfor %}

									
								
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

{% endblock %}