{% extends "baseStudent.html.twig" %}

{%block MainContent %}

<html lang="en">

<head>
    <meta charset="utf-8">


    <title>profile with data and skills - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col,
        .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }
    </style>
</head>
{% if profile.firstName == null or
      profile.lastName == null or
      profile.phoneNumber == null or
      profile.address == null or
      profile.location == null %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<body>
    <div class="container">
        <div class="main-body">

      

            <div class="row gutters-sm">
                <div class="col-md-4 mb-1 p-0">
                    <div class="card ">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{userDetails.profile.getPicture}}" alt="Admin"
                                    class="rounded-circle" width="150">
								<form method="post" action="{{path("update_picture_coach")}}" enctype="multipart/form-data">

                                <div class="">
                                    <h4>{{userDetails.profile.getFirstName}}{{userDetails.profile.getLastName}}</h4>
                                    <p class="text-secondary mb-1">Student</p>
                                    <p class="text-muted font-size-sm">{{userDetails.profile.getAddress}},{{userDetails.profile.getLocation}}</p>
									<a href="{{path('app_user_settings')}} "class="btn btn-success btn-block"> Modifier profile </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-md-8">
                    <div class="card mb-3 pb-4 pt-5">
                        <div class="card-body">
                            
                            <div class="row">
                                
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                   {{userDetails.profile.getFirstName}}    {{userDetails.profile.getLastName}}

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a href="#" class="__cf_email__"
                                        data-cfemail="0e68677e4e647b65637b66206f62">{{userDetails.email}}</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{userDetails.profile.getPhoneNumber}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{userDetails.profile.getAddress}}

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">location</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                   {{userDetails.profile.getLocation}}

                                </div>
                            </div>
                            
                        
                        </div>
                    </div>
                    <div class="row gutters-sm">
                        <div class="col-sm-12 mb-7 ">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                            class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                    {% for note in notes %}
                                    <small>{{ note.module }}</small>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{note.note * 10 }}%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>


{%endblock %}